<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.administrator.my12306"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyContactActivity">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity android:name=".MyAccountActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyPassActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyContactAddActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyContactEditActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="StationListActivity" >
        </activity>
            <activity
                android:name=".TicketResultStep1Activity"
                android:label="@string/title_activity_ticket_result_step1" >
            </activity>
            <activity
                android:name=".TicketDetailsStep2Activity"
                android:label="@string/title_activity_ticket_details_step2" >
            </activity>
            <activity
                android:name=".TicketPassengerStep3Activity"
                android:label="@string/title_activity_ticket_passenger_step3" >
            </activity>
            <activity
                android:name=".TicketPassengerListStep3Activity"
                android:label="@string/title_activity_ticket_passenger_list_step3" >
            </activity>
        <activity
            android:name=".TicketOrderSuccessStep4Activity"
            android:label="@string/title_activity_ticket_order_success_step4" >
        </activity>
        <activity
            android:name=".TicketPaySuccessStep5Activity"
            android:label="@string/title_activity_ticket_pay_success_step5" >
        </activity>
        <activity
            android:name=".OrderPayDoneActivity"
            android:label="@string/title_activity_order_pay_done" >
        </activity>
        <activity
            android:name=".OrderWaitPayActivity"
            android:label="@string/title_activity_order_wait_pay" >
        </activity>
    </application>

</manifest>
